@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background: no-repeat center center fixed linear-gradient(to bottom, #0d1732, #0b2153, #483261, #943b71);
  background-size: cover;
}

#container {
  height: 100%;
  color: white;
}
#container a {
  text-decoration: none;
  color: white;
}
#container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
#container header .projectsbtn {
  border: 1px solid white;
  border-radius: 40px;
  padding: 1%;
}
#container header .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 35px;
}
#container header .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}
@media (max-width: 700px) {
  #container header .navList {
    margin-top: 11%;
    display: none;
    flex-direction: column;
    width: 100%;
    opacity: 0.6;
  }
  #container header .navList li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  #container header .navList li:hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
  }
  #container header .navList .projectsbtn {
    border: none;
  }
  #container header .toggle-button {
    display: flex;
  }
  #container header .active {
    display: flex;
  }
}
#container header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#container header nav ul {
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-end;
}
#container header nav ul li {
  list-style: none;
  margin-left: 5%;
}
#container .menuBurger {
  display: none;
}

main .landingpage {
  display: flex;
  justify-content: center;
  height: 100vh;
}
main .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .content .typing-slider {
  height: 38%;
  width: 100%;
}

@media (max-width: 700px) {
  .typing-slider {
    height: 15%;
    width: 20%;
  }
}
@-webkit-keyframes cursor {
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes cursor {
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@-webkit-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes slide {
  50% {
    font-size: 10rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
@keyframes slide {
  50% {
    font-size: 10rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
.typing-slider {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  -webkit-animation: slide 10s step-start infinite;
          animation: slide 10s step-start infinite;
}

.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid white;
  background-color: gray;
  -webkit-animation: typing 5s infinite, cursor 1s infinite;
          animation: typing 5s infinite, cursor 1s infinite;
}

.typing-slider p:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: steps(9), step-end;
          animation-timing-function: steps(9), step-end;
}

.typing-slider p:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.typing-slider p:nth-child(2)::after {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: steps(4), step-end;
          animation-timing-function: steps(4), step-end;
}

@media (max-width: 700px) {
  @-webkit-keyframes slide {
    50% {
      font-size: 5rem;
      letter-spacing: 3px;
    }
  }
  @keyframes slide {
    50% {
      font-size: 5rem;
      letter-spacing: 3px;
    }
  }
}
.projects {
  display: flex;
}
.projects .projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .projectContainer .projectCard {
  opacity: 0.9;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .projectContainer .projectCard:hover {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: scale(1.02);
}
.projects .projectContainer .projectCard .projectImg {
  height: 50%;
  width: 100%;
}
.projects .projectContainer .projectCard .projectImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .projectContainer .projectCard .projectDesc {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.projects .projectContainer .projectCard .projectDesc h2 {
  margin-top: 1%;
}
.projects .projectContainer .projectCard .projectDesc a {
  border: 1px solid white;
  border-radius: 40px;
  width: 60%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin-top: 4%;
}
.projects .projectContainer .projectCard .projectDesc p {
  margin-top: 4%;
}

@media (max-width: 700px) {
  .projectCard {
    flex-basis: 50%;
  }
}
.aboutMe {
  height: 100vh;
  background-color: #483261;
  display: flex;
}
.aboutMe .about1 {
  height: 100vh;
  border: 1px solid #483261;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.aboutMe .about1 .aboutImgContainer {
  height: 50%;
}
.aboutMe .about1 .aboutImgContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutMe .about1 .textContainer {
  width: 70%;
}
.aboutMe .about2 {
  width: 50%;
  background-color: #943b71;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.aboutMe .about2 .aboutList {
  margin: 25%;
  display: flex;
  width: 60%;
  height: 60%;
  background-color: #0d1732;
  list-style: none;
}
.aboutMe .about2 .aboutList:hover {
  background-color: #0b2153;
}

@media (max-width: 700px) {
  .aboutMe {
    flex-direction: column;
    height: 100%;
    border: 1px solid green;
  }
  .aboutMe .about1,
.aboutMe .about2 {
    width: 100%;
  }
}
.contact {
  height: 100vh;
  width: 100%;
  background-color: #0b2153;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contact-container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  color: white;
  background-color: #0d1732;
  border-radius: 0.5rem;
  overflow: hidden;
}
.contact .contact-container .form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}
.contact .contact-container .form-container h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact .contact-container .form-container .contact-form {
  height: 100%;
  width: 90%;
  display: grid;
  row-gap: 2rem;
}
.contact .contact-container .form-container .contact-form .send-button {
  margin: 0 auto;
  border-radius: 40px;
  width: 50%;
  margin-bottom: 4%;
}
.contact .contact-container .form-container .contact-form input,
.contact .contact-container .form-container .contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #0b2153;
  padding: 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.4rem;
}
.contact .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .contact .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contact .contact-container .map iframe {
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */