@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background: no-repeat center center fixed linear-gradient(to bottom, #0d1732, #0b2153, #483261, #943b71);
  background-size: cover;
}

#container {
  height: 100%;
  color: white;
}
#container a {
  text-decoration: none;
  color: white;
}
#container header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 1em;
}
#container header .projectsbtn {
  border: 1px solid white;
  border-radius: 40px;
  padding: 1%;
}
#container header nav {
  width: 80%;
}
#container header nav ul {
  display: flex;
  justify-content: flex-end;
}
#container header nav ul li {
  list-style: none;
  margin: 1%;
}
#container .menuBurger {
  display: none;
}

main .landingpage {
  display: flex;
  justify-content: center;
  height: 100vh;
}
main .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .content .typing-slider {
  height: 38%;
  width: 80%;
}
@-webkit-keyframes cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@-webkit-keyframes typing {
  from {
    width: 100%;
  }
  90%, to {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  90%, to {
    width: 0;
  }
}
@-webkit-keyframes slide {
  50% {
    font-size: 10rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
@keyframes slide {
  50% {
    font-size: 10rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
.typing-slider {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  -webkit-animation: slide 6s step-start infinite;
          animation: slide 6s step-start infinite;
}

.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid white;
  background-color: gray;
  -webkit-animation: typing 3s infinite, cursor 1s infinite;
          animation: typing 3s infinite, cursor 1s infinite;
}

.typing-slider p:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: steps(9), step-end;
          animation-timing-function: steps(9), step-end;
}

.typing-slider p:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.typing-slider p:nth-child(2)::after {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: steps(4), step-end;
          animation-timing-function: steps(4), step-end;
}

.projects .projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .projectContainer .projectCard {
  height: 600px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .projectContainer .projectCard .projectImg {
  height: 60%;
  width: 100%;
}
.projects .projectContainer .projectCard .projectImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .projectContainer .projectCard .projectDesc {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact {
  height: 100vh;
  width: 100%;
  background-color: #0b2153;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contact-container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  background-color: #0d1732;
  border-radius: 0.5rem;
  overflow: hidden;
}
.contact .contact-container .form-container {
  width: 100%;
  padding: 1%;
}
.contact .contact-container .form-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact .contact-container .form-container .contact-form {
  display: grid;
  row-gap: 2rem;
}
.contact .contact-container .form-container .contact-form .send-button {
  border: 1px solid white;
  border-radius: 40px;
  padding: 1%;
}
.contact .contact-container .form-container .contact-form input,
.contact .contact-container .form-container .contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #943b71;
  padding: 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.4rem;
}
.contact .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .contact .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contact .contact-container .map iframe {
    height: 400px;
  }
}/*# sourceMappingURL=style.css.map */